@using GovernCMS.Models
@using GovernCMS.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Government Content Management System (CMS) Software" />
    <meta property="og:title" content="Government Content Management System" />
    <meta property="og:description" content="Government Content Management System (CMS) Software" />
    <title>@ViewBag.Title - Government Content Management System</title>

    @* Tether.io *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css">

    @* Bootstrap core CDN *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


    @* Font Awesome CDN *@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @* jQuery UI CDN *@
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    @* jQuery jvectormap CDN *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/1.2.2/jquery-jvectormap.css" rel="stylesheet">    
    
    @* Custom styles for this template *@
    <link href="/Content/css/style.min.css" rel="stylesheet" id="main-style">
    <link href="/Content/css/govern-cms.css" rel="stylesheet">

    @* jQuery core.  MUST be at the top, in case of $(document).ready(...) calls midway through page. *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler sidebar-minimizer d-md-down-none h-100 b-r-1 px-3" type="button">☰</button>
        <ul class="nav navbar-nav d-md-down-none b-r-1 h-100">
            <form class="form-inline px-4">
                <span class="fa fa-search"></span>
                <input class="form-control" type="text" placeholder="Search...">
            </form>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <span style="padding-right: 10px; z-index: 1000">
                @if (Session[Constants.CURRENT_USER] == null)
                {
                    @Html.Raw("Not Logged In");
                }
                else
                {
                    User currentUser = (User) Session[Constants.CURRENT_USER];
                    @Html.Raw("Logged in as " + currentUser.FirstName + "&nbsp;" + currentUser.LastName);
                }
            </span>
        </ul>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title text-center">
                        <span>Users</span>
                    </li>
                    @if (Session[Constants.CURRENT_USER] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Create", "User")'><span class="fa fa-address-card-o fa-span"></span><span class="hidden-sm text"> Register</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "User")"><span class="fa fa-user-o fa-span"></span><span class="hidden-sm text"> Login</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "User")"><span class="fa fa-sign-out fa-span"></span><span class="hidden-sm text"> Logout</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Edit", "User")'><span class="fa fa-address-card-o fa-span"></span><span class="hidden-sm text"> Edit User</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Edit", "User")'><span class="fa fa-users fa-span"></span><span class="hidden-sm text"> Edit Groups</span></a>
                        </li>
                        
                    }
                    <li class="divider"></li>
                    <li class="nav-title text-center">
                        <span>Content Management</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Artifact")"><span class="fa fa-files-o fa-span"></span><span class="hidden-sm text"> List Artifacts</span></a>
                    </li>           
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Manage", "Artifact")"><span class="fa fa-file-o fa-span"></span><span class="hidden-sm text"> Add Artifact</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Main content -->
        <main class="main">
            @RenderBody()
        </main>

    <aside class="aside-menu">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="icon-speech"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane active" id="timeline" role="tabpanel">
        <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
            <small><b>Today</b>
            </small>
        </div>
        <hr class="transparent mx-3 my-0">
        <div class="callout callout-warning m-0 py-3">
            <div class="avatar float-right">
                <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div>Meeting with
                <strong>Lucas</strong>
            </div>
            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
            <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
        </div>
        <hr class="mx-3 my-0">
        <div class="callout callout-info m-0 py-3">
            <div class="avatar float-right">
                <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div>Skype with
                <strong>Megan</strong>
            </div>
            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 5pm</small>
            <small class="text-muted"><i class="icon-social-skype"></i>&nbsp; On-line</small>
        </div>
        <hr class="transparent mx-3 my-0">
        <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
            <small><b>Tomorrow</b>
            </small>
        </div>
        <hr class="transparent mx-3 my-0">
        <div class="callout callout-danger m-0 py-3">
            <div>New UI Project -
                <strong>deadline</strong>
            </div>
            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 10 - 11pm</small>
            <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
                <div class="avatar avatar-xs">
                    <img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
            </div>
        </div>
        <hr class="mx-3 my-0">
        <div class="callout callout-success m-0 py-3">
            <div>
                <strong>#10 Startups.Garden</strong>Meetup</div>
            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
            <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
        </div>
        <hr class="mx-3 my-0">
        <div class="callout callout-primary m-0 py-3">
            <div>
                <strong>Team meeting</strong>
            </div>
            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 6pm</small>
            <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
                <div class="avatar avatar-xs">
                    <img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                    <img src="img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
            </div>
        </div>
        <hr class="mx-3 my-0">
    </div>
    <div class="tab-pane p-3" id="messages" role="tabpanel">
        <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
            </div>
            <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
            </div>
            <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
            </div>
            <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
            </div>
            <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
            </div>
            <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
    </div>
    <div class="tab-pane p-3" id="settings" role="tabpanel">
        <h6>Settings</h6>

        <div class="aside-options">
            <div class="clearfix mt-4">
                <small><b>Option 1</b>
                </small>
                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" checked="">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
            <div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
        </div>

        <div class="aside-options">
            <div class="clearfix mt-3">
                <small><b>Option 2</b>
                </small>
                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
            <div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
        </div>

        <div class="aside-options">
            <div class="clearfix mt-3">
                <small><b>Option 3</b>
                </small>
                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
        </div>

        <div class="aside-options">
            <div class="clearfix mt-3">
                <small><b>Option 4</b>
                </small>
                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" checked="">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
        </div>

        <hr>
        <h6>System Utilization</h6>

        <div class="text-uppercase mb-1 mt-4">
            <small><b>CPU Usage</b>
            </small>
        </div>
        <div class="progress progress-xs">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">348 Processes. 1/4 Cores.</small>

        <div class="text-uppercase mb-1 mt-2">
            <small><b>Memory Usage</b>
            </small>
        </div>
        <div class="progress progress-xs">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">11444GB/16384MB</small>

        <div class="text-uppercase mb-1 mt-2">
            <small><b>SSD 1 Usage</b>
            </small>
        </div>
        <div class="progress progress-xs">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">243GB/256GB</small>

        <div class="text-uppercase mb-1 mt-2">
            <small><b>SSD 2 Usage</b>
            </small>
        </div>
        <div class="progress progress-xs">
            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">25GB/256GB</small>
    </div>
    </div>
    </aside>
</div>

<footer class="app-footer">
    <a href="https://genesisui.com">Clever</a> © 2017 creativeLabs.
    <span class="float-right">Powered by <a href="https://genesisui.com">GenesisUI</a>
    </span>
</footer>

<!-- Bootstrap and necessary plugins -->
@* jQuery *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script src="/Scripts/jquery.mmenu.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

@* Bootstrap 4 *@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="/Scripts/pace.min.js"></script>

<!-- Plugins and scripts required by all views -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


<!-- GenesisUI main scripts -->
<script src="/Scripts/app.js"></script>

</body>

</html>